@media screen and (max-width: 600px) {  
    

    .content-home, .product, .review, .order .container, article {
        width: 100%;
    }

    body > header {
        width: 100%;
        background-color: #bd7356;
        box-sizing: border-box;
        
    }
  
    ul {
        width: 100%;
        box-sizing: border-box;
    }

    li {
        font-size: 16px;
        width: 25%;
    }

    .home {
        margin-top: -54px;
        overflow: hidden;
    }

    .wave-home {
        top: 110px;
    }

    .home img {
        position: absolute;
        width: 80%;
        height: 500px;
        text-align: center;
        right: 0;
        bottom: -70px;
        object-fit: cover;
    }

    .content-home {
        margin-top: 100px;
        padding: 80px 0px 215px 30px;
    }

    .content-home h1 {
        font-size: 36px;
        width: 250px;
        width: 70%;
    }

    
    .content-home p {
        font-size: 14px;
        margin: 8px 0;
        width: 50%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        margin: 0 auto;
        width: 98%;
        margin-bottom: 30px;
    }

    .more {
        padding-top: 4px;
    }

    .wave-testimony {
        margin-top: -0.9px;
    }

    .testimony {
        height: min-content;
    }

    .testimony .sub-title {
        margin-bottom: 80px;
    }

    .review {
        height: 215px;
        padding: 0;
        margin: auto;
        width: 90%;
        text-align: center;
        margin-bottom: 120px;
    }

    .review h4, .review p {
        width: 78%;
    }

    .review img {
        top: -80px;
        left: 0;
        right: 0%;
        display: inline-block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    .review h4 {
        margin: 0 auto;
        left: 0;
        width: 100%;
        margin-top: 80px;
        height: 40px;
        z-index: 99;
        font-size: 20px;
    }

    .review p {
        margin: auto;
        font-size: 12px;
    }

    .contact {
        margin-bottom: 50px;
        width: 58%;
    }

    .contact a {
        font-size: 19px;
    }

    .profile-card h1 {
        padding: 0;
    }

    .profile-card, aside article {
        width: 90%;
    }

    footer {
        font-size: 14px;
    }
    
  }
